In [23]:
import pandas as pd
import numpy as np

In [4]:
data = {'score1' : ['91','94','97','100'],
        'score2' : np.arange(100,90,-3)}
data
data_2 = {'score1' :['91','94','97','100','49'],
'score2': np.arange(1,6)}
data_2

{'score1': ['91', '94', '97', '100', '49'], 'score2': array([1, 2, 3, 4, 5])}

In [5]:
data = {'score1' : ['91','94','97','100'],
        'score2' : np.arange(100,90,-3)}
data

{'score1': ['91', '94', '97', '100'], 'score2': array([100,  97,  94,  91])}

In [6]:
type(data)

dict

In [7]:
df1 = pd.DataFrame(data = data, index = ['a', 'b', 'c', 'd'])
df1
# 객체를 DataFrame으로 만든 것.
#key와 value의 작성위치에 대해서 주의할 것.

  score1  score2
a     91     100
b     94      97
c     97      94
d    100      91

In [8]:
type(df1)

pandas.core.frame.DataFrame

In [9]:
data = np.arange(8).reshape(4,2)

In [10]:
df1 = pd.DataFrame(data = data, index = ['a', 'b', 'c', 'd'])
df1
# 위의 score 처럼 이름을 지정해주지 않으면 0~으로 자동으로 이름이 지정됨.

   0  1
a  0  1
b  2  3
c  4  5
d  6  7

In [11]:
data = np.array([[1, 2, 3, 4],
                 [5, 6, 7, 8],
                 [9, 10, 11, 12]],dtype = int)

In [12]:
df1 = pd.DataFrame(data, index = ['a','b','c'],
                   columns = ['score1','score2','score3','score4'])
df1

   score1  score2  score3  score4
a       1       2       3       4
b       5       6       7       8
c       9      10      11      12

In [13]:
df1.iloc[1, 2] # 2행 3열에 접근하는 방법1
# 좌표값으로 뽑는 것. loc은 key값으로 뽑는 것 
# 되도록 1번 방법을 사용할 것

7

In [14]:
df1.iloc[1][2] # 2행 3열에 접근하는 방법2

7

In [15]:
df1.iloc[:, 2]
# df1.iloc[:][2] 는 사용할 수 없음

a     3
b     7
c    11
Name: score3, dtype: int64

In [16]:
df1.loc['b','score3']

7

In [17]:
df1.loc['b']
# 이건 가능하지만, df1.loc['score3']은 불가능.

score1    5
score2    6
score3    7
score4    8
Name: b, dtype: int64

In [18]:
df1.loc[:,'score3']
# df1.loc['score3']은 불가능해서 위처럼 표현해야 함.

a     3
b     7
c    11
Name: score3, dtype: int64

In [19]:
# 행이 아니라 열을 attribute로 가지고 있음 즉, 변수명을 가지고 있는 것  df1.a 는 불가능하지만, df1.score3 은 가능
# 레코드보다 변수가 더 적은 것이 대부분이기 때문. 희소한 데이터인 경우엔 변수가 많을 수 있음. 
df1.score3

a     3
b     7
c    11
Name: score3, dtype: int64

In [20]:
df1.sum(axis=0)

score1    15
score2    18
score3    21
score4    24
dtype: int64

In [21]:
df1.sum()

score1    15
score2    18
score3    21
score4    24
dtype: int64

In [22]:
df1.sum(axis=1)

a    10
b    26
c    42
dtype: int64

In [26]:
mat1 = np.array([[1, 2, 3, 4],
          [5, 6, 7, 8],
          [9, 10, 11, 12]], dtype = int) # 3 X 4

mat2 = np.arange(13, 25, dtype = int).reshape(3,4) # 3 X 4

df1 = pd.DataFrame(mat1)
df2 = pd.DataFrame(mat2)

In [31]:
df1

   0   1   2   3
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [28]:
df2

    0   1   2   3
0  13  14  15  16
1  17  18  19  20
2  21  22  23  24