<a href="https://colab.research.google.com/github/WONI2/python_study/blob/PYTHON_BASIC/python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
#int
a=1
a

1

In [ ]:
type(a)

int

In [ ]:
z = type(a)
z

int

In [ ]:
print (type(a))

<class 'int'>

In [ ]:
#float :정수인데 실수로 나타내고 싶으면 뒤에 점을 찍으면 됨.
#complex
c = 1+2j
print(c)
c += j

(1+2j)

NameError: ignored

In [ ]:
#str
d = 'abc'
print(d)

e = 'ABC'

print(d + e)

print(d* 3 +e)
#try 'abc' -> 'aBc'

abc
abcABC
abcabcabcABC

In [ ]:
try:
  d[1] = 'B' #변경
except TypeError:
  print('str is immutable') 
  # try, except는 의도적인 오류를 낼 때 사용. 

#alternative
d_new = d[0] + 'B' + d[2]
print(d_new)

str is immutable
aBc

In [ ]:
# 빈 객체 생성
list_1= []

#정수형 객체 생성
list_2=[2019,2020,2021]

#문자형 갹채 생성
list_3 = ["인공지능", "AI"]

# 문자&숫자 객체 생성
list_4 = ["R과", "파이썬으로", "배우는", 'Data', 'Science', 2020]

# 문자, 숫자, 리스트 객체 생성
list_5 = ["R과", "파이썬으로", "배우는", 'Data', 'Science', '2020',["인공지능",'AI']]

# 문자, 숫자, 리스트 오브젝트 객체 생성
list_6 =["R과", "파이썬으로", "배우는", 'Data', 'Science', '2020', list_3]


print('list_1 = ', list_1)
print('list_2 = ', list_2)
print('list_3 = ', list_3)
print('list_4 = ', list_4)

# 5와 6은 같은 것. 실행이 느려지는 문제가 있음. 
print('list_5 = ', list_5)
print('list_6 = ', list_6, '\n')

# f를 사용해서 변수를 넣을 때 {}만을 사용해서 쓸 수 있음.
print(f'list_6 = {list_6}')

list_1 =  []
list_2 =  [2019, 2020, 2021]
list_3 =  ['인공지능', 'AI']
list_4 =  ['R과', '파이썬으로', '배우는', 'Data', 'Science', 2020]
list_5 =  ['R과', '파이썬으로', '배우는', 'Data', 'Science', '2020', ['인공지능', 'AI']]
list_6 =  ['R과', '파이썬으로', '배우는', 'Data', 'Science', '2020', ['인공지능', 'AI']]

list_6 = ['R과', '파이썬으로', '배우는', 'Data', 'Science', '2020', ['인공지능', 'AI']]